
.aboutPreview {
  padding-top: 6vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  scroll-snap-align: start;
  overflow-y: auto;
  scroll-behavior: smooth;
  background-color: black;
  position: relative;
}

.mainAboutCont {
  width: 50vw;
  height: 30vh;
  background-color: black;
  z-index: 10;
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: -20vh;
  padding-bottom: 18vh;
  pointer-events: none;
}

.aboutPreview h1 {
  font-size: clamp(3rem, 4vw, 4rem);
  font-family: 'LemonMilk-Reg';
  padding: .5rem;
  background-color: black;
}

.aboutPreSS {
  width: 40vw;
  height: 70vh;
  border-radius: 10px;
}

.abBtn {
  width: 30rem;
  height: 4rem;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
  border-top-right-radius: 50px;
  border:none;
  font-family: 'LGCafe-Bold';
  background-color: hsla(205, 100%, 50%, 0.014);
  border: 1px solid white;
  font-size: 1.5rem;
  color: white;
  cursor: pointer;
  transition: .2s;
  pointer-events: all;
}

.abBtn:hover {
  box-shadow: 0 0px 5px white, inset 0 0 5px white;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
  transform: scale(1.05)
}

@media screen and (max-width: 1200px) {

  .aboutPreSS {
    height: 60vh;
    width: 50vw;
  }

  .mainAboutCont {
    width: 60vw;
    margin-top: -15vh;
  }
}

@media screen and (max-width: 450px) {
  .mainAboutCont {
    margin-top: -5vh;
    width: 100vw;
  }

  .aboutPreview h1 {
    font-size: 2rem;
    bottom: 35%;
  }
  .aboutPreSS {
    width: 90vw;
    height: 40vh;
  }
  .abBtn {
    width: 10rem;
  }
}