.proj2 {
  background-color: black;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: relative;
  padding-right: 20vw;
}

.proj2 h1 {
  font-family: 'LemonMilk-Reg';
  padding: .5rem;
  background-color: black;
  position: absolute;
  top: 50%;
  right: 9%;
  border-radius:10px;
}

.proj2 h3 {
  position: absolute;
  background-color: black;
  padding: .5rem;
  border-radius: 10px;
  font-family: 'LGCafe';
  top: 70%;
  right: 55%;
  font-size: 2.5rem;
}

.proj2Info h4 {
  font-family: 'LGCafe';
  margin-right: 2vw;
  color: white;
}

.crudSS {
  width: 50vw;
  height: 70vh;
  border-radius: 10px;
  cursor: pointer;
}

.proj2Info {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  margin-right: 1vw;
  padding-top: 10vh;
  width: 50vw;
  height: 10vh;
  position: absolute;
  top: 76%;
  right: 8%;
}

.proj2Btn {
  display: flex;
  flex-direction: column;
  margin-right: 15%;
  height: 30vh;
  justify-content: space-between;
}

@media screen and (max-width: 450px) {
  .proj2 {
    flex-direction: column-reverse;
    justify-content: center;
    padding: 0;
    width: 100vw;
  }
  .proj2 h1 {
    top: 45%;
    left: -1%;
    width: 100vw;
    z-index: 10;
  }
  .proj2 h3 {
    font-size: 2rem;
    top: 39%;
    right: 3%;
    height: 4rem;
  }
  .crudSS {
    width: 90vw;
    height: 40vh;
    margin-top: 5vh;
  }
  .proj2Info {
    margin-right: 0;
    position: static;
    justify-content: center;
    align-items: center;
    width: 90vw;
  }
  .proj2Info h4 {
    font-size: 1.25rem;
    margin: none;
  }
  .proj2Btn {
    margin: 0;
    margin-top: 10vh;
    justify-content: flex-start;
    height: 5vh;
  }
}