.proj2 {
  width: 70vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: black;
  position: relative;
  padding-top: 10vh;
}

.proj2 h1 {
  font-size: clamp(3rem, 4vw, 4rem);
  font-family: 'LemonMilk-Reg';
  padding: .5rem;
  background-color: black;
}

.type2Cont {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  z-index: 10;
  margin-top: -30vh;
  width: 40vw;
}

.proj2 h3 {
  background-color: black;
  padding: .5rem;
  border-top-left-radius: 10px;
  font-family: 'LGCafe';
  font-size: 2.5rem;
}

.proj2Info h4 {
  font-family: 'LGCafe';
  color: white;
}

.crudSS {
  width: 40vw;
  height: 70vh;
  border-radius: 10px;
  cursor: pointer;
}

.proj2Info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 35vw;
  height: 10vh;
}

.btn2 {
  width: 15rem;
  height: clamp(2rem, 6vh, 4rem);
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 0px;
  border-top-right-radius: 50px;
  font-family: 'LGCafe-Bold';
  background-color: hsla(205, 100%, 50%, 0.014);
  border: 1px solid white;
  font-size: 1.5rem;
  color: white;
  cursor: pointer;
  transition: .5s;
}

.btn2:hover {
  box-shadow: 0 0px 2px white, inset 0 0 1px white;
  transform: scale(1.05);
  border-top-left-radius: 0px;
  border-bottom-right-radius: 50px;
}

.proj2Btn {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

@media screen and (max-width: 450px) {
  .proj2 {
    flex-direction: column;
    justify-content: center;
    padding: 0;
    padding-top: 10vh;
    width: 100vw;
  }

  .proj2 h1 {
    border-radius:10px;
  }

  .proj2 h3 {
    font-size: 2rem;
  }

  .type2Cont {
    width: 90vw;
  }

  .crudSS {
    width: 90vw;
    height: 55vh;
    z-index: -10;
  }

  .proj2Info {
    width: 90vw;
    align-items: center;
  }
  
  .proj2Info h4 {
    font-size: 1.25rem;
    margin: none;
  }

  .proj2Btn {
    margin: 0;
    justify-content: flex-start;
  }
}