
.proj3 {
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: black;
  position: relative;
  padding-top: 10vh;
}

.proj3 h1 {
  font-size: clamp(3rem, 4vw, 4rem);
  font-family: 'LemonMilk-Reg';
  padding: .5rem;
  background-color: black;
}

.proj3 h3 {
  background-color: black;
  padding: .5rem;
  border-top-right-radius: 10px;
  font-family: 'LGCafe';
  font-size: 2.5rem;
}

.ouiSS {
  width: 40vw;
  height: 70vh;
  border-radius: 10px;
  cursor: pointer;
}

.proj3Info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 50vw;
  height: 10vh;
}

.proj3Info h4 {
  font-family: 'LGCafe';
  color: white;
}

.proj3Btn {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

@media screen and (max-width: 450px) {
  .proj3 {
    flex-direction: column;
    justify-content: center;
    padding: 0;
    padding-top: 10vh;
    width: 100vw;
  }
  .proj3 h1 {
    border-radius:10px;
  }
  .proj3 h3 {
    font-size: 2rem;
  }
  .ouiSS {
    width: 90vw;
    height: 55vh;
  }
  .proj3Info {
    width: 90vw;
    align-items: center;
  }
  .proj3Info h4 {
    font-size: 1.25rem;
    margin: none;
  }
  .proj3Btn {
    margin: 0;
    justify-content: flex-start;
  }
}