
.proj1 {
  width: 70vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: black;
  position: relative;
  padding-top: 10vh;
}

.proj1 h1 {
  font-size: clamp(3rem, 4vw, 4rem);
  font-family: 'LemonMilk-Reg';
  padding: .5rem;
  background-color: black;
}

.typeCont {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  z-index: 10;
  margin-top: -30vh;
  width: 40vw;
}

.headingCont {
  background-color: black;
  border-radius:10px;
  
}

.mainInfoCont {
  width: 70vw;
  min-height: 30vh;
  background-color: black;
  z-index: 10;
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding-bottom: 18vh;
}

.proj1 h3 {
  background-color: black;
  padding: .5rem;
  border-top-right-radius: 10px;
  font-family: 'LGCafe';
  font-size: 2.5rem;
}

.kinetikSS {
  width: 40vw;
  height: 70vh;
  border-radius: 10px;
  cursor: pointer;
}

.proj1Info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 35vw;
  height: 10vh;
}

.proj1Info h4 {
  font-family: 'LGCafe';
  color: white;
}

.proj1Btn {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.btn {
  width: 15rem;
  height: clamp(2rem, 6vh, 4rem);
  border-top-left-radius: 0px;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
  border-top-right-radius: 50px;
  font-family: 'LGCafe-Bold';
  background-color: hsla(205, 100%, 50%, 0.014);
  border: 1px solid white;
  font-size: 1.5rem;
  color: white;
  cursor: pointer;
  transition: .5s;
}

.btn:hover {
  box-shadow: 0 0px 2px white, inset 0 0 2px white;
  transform: scale(1.05);
  border-top-left-radius: 50px;
  border-bottom-right-radius: 0px;
}

@media screen and (max-width: 450px) {
  .proj1 {
    flex-direction: column;
    justify-content: center;
    padding: 0;
    padding-top: 10vh;
    width: 100vw;
  }

  .mainInfoCont {
    margin-top: 0;
    width: 100vw;
  }

  .typeCont {
    width: 90vw;
  }

  .headingCont {
    width: 100vw;
    background-color: black;
  }

  .proj1 h1 {
    border-radius:10px;
  }

  .proj1 h3 {
    font-size: 2rem;
  }
  .kinetikSS {
    width: 90vw;
    height: 55vh;
    z-index: -10;
  }
  .proj1Info {
    width: 90vw;
    align-items: center;
  }
  .proj1Info h4 {
    font-size: 1.25rem;
    margin: none;
  }
  .btn {
    width: 10rem;
    margin-bottom: 1vh;
  }
  .proj1Btn {
    margin: 0;
    justify-content: flex-start;
  }
}