
.proj1 {
  padding-left: 20vw;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: black;
  position: relative;
}

.proj1 h1 {
  font-family: 'LemonMilk-Reg';
  padding: .5rem;
  background-color: black;
}

.headingCont {
  background-color: black;
  border-radius:10px;
  z-index: 10;
}

.proj1 h3 {
  background-color: black;
  padding: .5rem;
  border-radius: 10px;
  font-family: 'LGCafe';
  font-size: 2.5rem;
}

.kinetikSS {
  width: 50vw;
  height: 70vh;
  border-radius: 10px;
  cursor: pointer;
}

.proj1Info {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  margin-left: 1vw;
  padding-top: 10vh;
  width: 50vw;
  height: 10vh;
  position: absolute;
  top: 76%;
  left: 22%;
}

.proj1Info h4 {
  font-family: 'LGCafe';
  margin-left: 2vw;
  color: white;
}

.proj1Btn {
  display: flex;
  flex-direction: column;
  margin-left: 15%;
  height: 30vh;
  justify-content: space-between;
}
.btn {
  width: 15rem;
  height: 4rem;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
  border-top-right-radius: 50px;
  font-family: 'LGCafe-Bold';
  background-color: hsla(205, 100%, 50%, 0.014);
  border: 1px solid white;
  font-size: 1.5rem;
  color: white;
  cursor: pointer;
  transition: .2s;
}

.btn:hover {
  box-shadow: 0 0px 5px white, inset 0 0 5px white;
  transform: scale(1.05);
  
}

@media screen and (max-width: 450px) {
  .proj1 {
    flex-direction: column;
    justify-content: center;
    padding: 0;
    width: 100vw;
    height: 95vh;
  }
  .headingCont {
    margin-top: -10vh;
    width: 100vw;
    background-color: black;
  }

  .proj1 h1 {
    padding: .5rem;
    border-radius:10px;
  }

  .typeCont {
    width: 95vw;
    display: flex;
    margin-top: -15vh;
  }

  .proj1 h3 {
    font-size: 2rem;
  }
  .kinetikSS {
    margin-top: 5vh;
    width: 90vw;
    height: 40vh;
  }
  .proj1Info {
    margin-left: 0;
    position: static;
    justify-content: center;
    align-items: center;
    width: 90vw;
  }
  .proj1Info h4 {
    font-size: 1.25rem;
    margin: none;
  }
  .btn {
    width: 10rem;
    margin-bottom: 1vh;
  }
  .proj1Btn {
    margin: 0;
    margin-top: 10vh;
    justify-content: flex-start;
    height: 5vh;
  }
}