.aboutMePage {
  width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: space-around;
  align-items: center;
  font-size: 1.75rem;
  color: white;
  background-color: black;
  scroll-behavior: auto;
  overflow-y:auto;
}

.aboutInfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  height: 80vh;
}

.aboutTitle {
  margin-bottom: -5.25vh;
  background-color: black;
  z-index: 2;
  padding: 1rem;
}

.aboutInfo p {
  font-family: 'LGcafe';
  margin: 2rem;
}

.aboutBack {
  background-color: transparent;
  color: white;
  border: none;
  cursor: pointer;
}

@media screen and (max-width: 600px) {
  .aboutInfo {
    min-height: 40vh;
    width: 90%;
    padding: 0;
  }
  .aboutInfo p {
    font-size: 1.3rem;
    margin: .5rem 0;
  }
  .aboutInfo h2 {
    font-size: 1.25rem;
  }
  .aboutTitle {
    margin-bottom: -10vh;
  }
}